@charset "UTF-8";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import "https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400&family=Montserrat&display=swap";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "bootstrap.min.css";
header {
  background-image: url("../images/element_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
  position: relative;
  margin: 30px 20px;
  padding: 0;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    margin: 15px 0px;
  }
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #95999c;
}
.navbar-light .navbar-nav .nav-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #878787;
  transition: 0.5s;
  position: absolute;
  bottom: -9px;
}
@media screen and (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link:after {
    display: none;
  }
}
.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
}

.navbar-brand {
  padding-top: 1.3125rem;
}

.main-heading {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 88px;
  color: #4d4d4d;
  padding: 124px 0px 20px;
}
@media screen and (max-width: 1024px) {
  .main-heading {
    font-size: 62px;
  }
}
@media screen and (max-width: 768px) {
  .main-heading {
    padding: 30px 0px 20px;
  }
}
@media screen and (max-width: 320px) {
  .main-heading {
    font-size: 54px;
  }
}

.main-desc {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #4d4d4d;
  opacity: 0.5;
  padding-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .main-desc {
    font-size: 19px;
  }
}

.btn {
  border-radius: 0;
}

.btn-primary {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
  background-color: transparent;
  border: 1px solid #4d4d4d;
  text-transform: uppercase;
  padding: 19px 0px;
  margin-right: 20px;
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #4d4d4d;
}

@media screen and (max-width: 992px) {
  .know-more-btn {
    margin-bottom: 62px;
  }
}

.img-face {
  width: 100%;
}

.about-section {
  padding: 109px 0px 125px;
}
@media screen and (max-width: 768px) {
  .about-section {
    padding: 50px 0px 60px;
  }
}

.about-heading, .services-heading, .contact-heading {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  font-size: 46px;
  color: #4d4d4d;
  opacity: 0.8;
  padding-top: 45px;
  position: relative;
}
.about-heading:before, .services-heading:before, .contact-heading:before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: 18px;
}

.about-desc {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 26px;
  margin: 14px 0px 38px;
}

.about-img {
  width: 100%;
}

.download-btn:hover {
  border: 1px solid #4d4d4d;
  background-color: #f6f6f6;
}
@media screen and (max-width: 992px) {
  .download-btn {
    margin-bottom: 30px;
  }
}

.services-section {
  background-color: #f6f6f6;
  padding: 119px 0px 37px;
}
@media screen and (max-width: 768px) {
  .services-section {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

.services-heading, .contact-heading {
  padding-bottom: 60px;
  padding-top: 0;
}
.services-heading:before, .contact-heading:before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -30px;
}

.services-desc {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #4d4d4d;
  padding: 15px 0px 82px;
}

.services-position {
  position: relative;
  top: 14px;
}

.skills-section {
  padding: 118px 0px 125px;
}
@media screen and (max-width: 768px) {
  .skills-section {
    padding: 80px 0px 60px;
  }
}

.skills-img {
  width: 100%;
}

.portfolio-section {
  background-color: #f6f6f6;
  padding: 124px 0px;
}
@media screen and (max-width: 768px) {
  .portfolio-section {
    padding: 80px 0px 60px;
  }
}

.project-img {
  width: 100%;
  margin-bottom: 30px;
}
.project-img:hover {
  box-shadow: 3px 2px 20px 10px #dadada;
}

.img-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .load-more-btn {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.testimonials-section {
  padding: 125px 0px 120px;
}
@media screen and (max-width: 768px) {
  .testimonials-section {
    padding: 80px 0px 60px;
  }
}

.user-heading {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #212121;
}
@media screen and (max-width: 992px) {
  .user-heading {
    margin-top: 30px;
  }
}

.user-position-desc {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  color: #212121;
}

.user-desc {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  opacity: 0.5;
}

.user-img {
  position: relative;
  top: 6px;
  width: 100%;
}

.owl-carousel {
  border: 1px solid #212121;
  padding: 80px 0px 38px;
}

.owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 1px solid #212121;
  display: inline-block;
  margin: 0 4px;
  margin-top: 57px;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot.active span {
  background-color: #212121;
}

footer {
  background-image: url("../images/contact_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 144px 0px 28px;
  position: relative;
}
footer .form-group {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer {
    padding-top: 80px;
  }
}

.contact-heading {
  color: #ffffff;
}
.contact-heading:before {
  background-color: #c1c1c1;
}
.contact-heading:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: -405px;
  left: 0;
}
@media screen and (max-width: 992px) {
  .contact-heading:after {
    position: absolute;
    bottom: -480px;
    left: 0;
  }
}

.review-items {
  background-color: #f6f6f6;
  padding: 75px 0px 30px;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .review-items {
    margin-top: 60px;
  }
}

.review-desc {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #212121;
  text-transform: uppercase;
  padding-top: 32px;
}
.review-desc span {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #212121;
  display: block;
}

.study-item-position {
  position: relative;
  top: -20px;
}

.coffee-item-position {
  position: relative;
  top: -9px;
}

.input-field {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  padding: 23px 10px;
}

#exampleFormControlTextarea1 {
  resize: none;
}

.form-control {
  border-radius: 0;
  border: none;
}

.send-btn {
  margin: 15px 0px 90px;
  background-color: #ffffff;
}
.send-btn:hover {
  border-color: #f6f6f6;
}

.send-icon {
  position: relative;
  top: -2px;
}

.copyright-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.go-to-bottom:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: block;
  width: 45px;
  height: 41px;
  background-color: #ffffff;
  text-align: center;
  line-height: 41px;
  font-size: 9px;
  color: #4d4d4d;
  position: absolute;
  bottom: 220px;
  right: 30px;
}
@media screen and (max-width: 768px) {
  .go-to-bottom:after {
    position: fixed;
    bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .social-links {
    margin-bottom: 20px;
    text-align: center;
  }
}

.social-img, .dribbble-icon, .behance-icon, .google-icon, .instagram-icon, .twitter-icon, .facebook-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  color: #4d4d4d;
  background-color: #ffffff;
  line-height: 27px;
  font-size: 15px;
  text-align: center;
}

.facebook-icon:hover {
  color: #ffffff;
  background-color: #3b5997;
}

.twitter-icon:hover {
  color: #ffffff;
  background-color: #3ec2f3;
}

.instagram-icon:hover {
  color: #ffffff;
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.google-icon:hover {
  color: #ffffff;
  background-color: #e44c41;
}

.behance-icon:hover {
  color: #ffffff;
  background-color: #1d55f7;
}

.dribbble-icon:hover {
  color: #ab0e72;
  background-color: #ea4c89;
}

/*# sourceMappingURL=style.css.map */
